@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900");
*, ::after, ::before {
  box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif; }

h1 {
  margin: 0; }

.crossed-out {
  text-decoration: line-through; }

.text-center {
  text-align: center; }

.hr-light {
  border: 0.6px solid #dbdbdb; }

.hr-dark {
  border: 0.6px solid #30353b; }

.body-bg {
  background-color: #30353b; }

.main {
  max-width: 1104px;
  margin: 0 auto;
  height: 100%;
  position: relative; }

@media only screen and (min-width: 992px) {
  .background {
    background: url("/images/mood.jpg");
    min-height: 96%;
    background-position: 71% center;
    background-repeat: no-repeat;
    background-size: cover; } }

.background .background-container {
  padding: 133px 20px 20px 31px;
  height: 100%;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .background .background-container {
      padding: 86px 0 20px 0; } }

.header {
  position: absolute;
  width: 100%;
  z-index: 1; }
  @media only screen and (min-width: 992px) {
    .header {
      padding: 33px; } }
  @media only screen and (max-width: 992px) {
    .header {
      background-color: #f2f2f2;
      padding: 5px; } }
  .header__logo {
    padding: 10px 14px;
    display: table;
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .header__logo {
        background-color: #f2f2f2;
        float: left; } }

.job {
  max-width: 420px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column; }
  @media only screen and (max-width: 992px) {
    .job {
      max-width: 100%; } }
  .job__header {
    padding: 17px;
    color: #f2f2f2;
    background-color: #30353b; }
    @media only screen and (max-width: 992px) {
      .job__header {
        padding: 15px 15px 18px 15px; } }
    .job__header p {
      margin: 0;
      font-size: 1.2em;
      letter-spacing: 1.3px;
      line-height: 1.7em; }
      @media only screen and (max-width: 992px) {
        .job__header p {
          letter-spacing: -.5px;
          line-height: 1.35em; } }
  .job__image img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 15px;
    display: table; }
    @media only screen and (min-width: 992px) {
      .job__image img {
        display: none; } }
  .job__description {
    background-color: #e4e4e5;
    padding: 27px 20px; }
    @media only screen and (max-width: 992px) {
      .job__description {
        padding: 31px 16px 24px; } }
    .job__description ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .9em;
      letter-spacing: -.1px;
      margin-bottom: 28px; }
      @media only screen and (max-width: 992px) {
        .job__description ul {
          margin-bottom: 31px; } }
      .job__description ul li {
        margin-bottom: 9px;
        color: #30353b;
        display: flex; }
        .job__description ul li i {
          margin-right: 1px;
          font-size: 1.2em; }
          @media only screen and (max-width: 992px) {
            .job__description ul li i {
              margin-right: 5px; } }
    .job__description .price {
      background: url("/images/arrow-circle.svg") no-repeat 15% 71%;
      padding: 13px 20px 4px 120px; }
      @media only screen and (max-width: 992px) {
        .job__description .price {
          padding: 19px 15px 10px 79px;
          background-position: 2% 66%; } }
      .job__description .price__main {
        font-size: 2.6em;
        letter-spacing: .4px;
        color: #30353b; }
      .job__description .price__compared {
        letter-spacing: .2px;
        color: #30353b; }
  .job__button {
    background-color: #ff7607;
    color: #fff;
    padding: 18px;
    cursor: pointer; }
    .job__button:hover span {
      font-size: 1.43em;
      transition: all .2s ease-in-out; }
    .job__button span {
      transition: all .2s ease-in-out;
      font-size: 1.4em;
      letter-spacing: .1px;
      user-select: none; }

.information {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 460px;
  background-color: rgba(242, 242, 242, 0.7);
  display: none; }
  @media only screen and (max-width: 992px) {
    .information {
      background-color: #f2f2f2;
      position: static;
      margin: 0 auto;
      max-width: 100%; } }
  .information .info-holder {
    padding: 27px 33px 33px 32px;
    position: relative; }
    .information .info-holder h2 {
      font-weight: 400;
      font-size: 1.35em;
      letter-spacing: .2px;
      margin: 0 0 31px 0;
      color: #30353b; }
    .information .info-holder p {
      margin: 38px 0 0;
      font-size: .78em;
      letter-spacing: -.2px;
      line-height: 1.6em;
      color: #30353b; }
    .information .info-holder .fa {
      position: absolute;
      color: #30353b;
      top: 0;
      right: 0;
      padding: 5px 8px 18px 18px;
      cursor: pointer;
      font-size: 1.4em;
      z-index: 2; }

.footer {
  padding: 12px; }
  .footer p {
    color: #ccc;
    margin: 0;
    font-size: .86em;
    letter-spacing: .3px; }
