*, ::after, ::before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  margin: 0;
}

.crossed-out {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.hr-light {
  border: .6px solid $hr-light;
}

.hr-dark {
  border: .6px solid $hr-dark;
}