@import "variables";
@import "global";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800,900');

.body-bg {
  background-color: $black;
}

.main {
  max-width: $container-width;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.background {
  @media only screen and (min-width: 992px) {
    background: url("/images/mood.jpg");
    min-height: 96%;
    background-position: 71% center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-container {
    padding: 133px $gutter - 10 $gutter - 10 $gutter + 1;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 992px) {
      padding: 86px 0 20px 0;
    }
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  @media only screen and (min-width: 992px) {
    padding: $gutter + 3;
  }
  @media only screen and (max-width: 992px) {
    background-color: $lightgrey;
    padding: 5px;
  }

  &__logo {
    padding: 10px 14px;
    display: table;
    margin: 0 auto;
    @media only screen and (min-width: 992px) {
      background-color: $lightgrey;
      float: left;
    }
  }
}

.job {
  max-width: 420px;
  @include flex;
  flex-flow: column;
  @media only screen and (max-width: 992px) {
    max-width: 100%;
  }

  &__header {
    padding: 17px;
    color: $lightgrey;
    background-color: $black;
    @media only screen and (max-width: 992px) {
      padding: 15px 15px 18px 15px;
    }
    p {
      margin: 0;
      font-size: 1.2em;
      letter-spacing: 1.3px;
      line-height: 1.7em;
      @media only screen and (max-width: 992px) {
        letter-spacing: -.5px;
        line-height: 1.35em;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      max-width: 400px;
      margin: 0 auto 15px;
      display: table;
      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  &__description {
    background-color: $grey;
    padding: 27px 20px;
    @media only screen and (max-width: 992px) {
      padding: 31px 16px 24px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: .9em;
      letter-spacing: -.1px;
      margin-bottom: 28px;
      @media only screen and (max-width: 992px) {
        margin-bottom: 31px;
      }
      li {
        margin-bottom: 9px;
        color: $black;
        display: flex;

        i {
          margin-right: 1px;
          font-size: 1.2em;
          @media only screen and (max-width: 992px) {
            margin-right: 5px;
          }
        }
      }
    }

    .price {
      background: url("/images/arrow-circle.svg") no-repeat 15% 71%;
      padding: 13px 20px 4px 120px;
      @media only screen and (max-width: 992px) {
        padding: 19px 15px 10px 79px;
        background-position: 2% 66%;
      }
      &__main {
        font-size: 2.6em;
        letter-spacing: .4px;
        color: $black;
      }

      &__compared {
        letter-spacing: .2px;
        color: $black;
      }
    }
  }

  &__button {
    background-color: $orange;
    color: $white;
    padding: 18px;
    cursor: pointer;

    &:hover span {
      font-size: 1.43em;
      transition: all .2s ease-in-out;
    }

    span {
      transition: all .2s ease-in-out;
      font-size: 1.4em;
      letter-spacing: .1px;
      user-select: none;
    }
  }
}

.information {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 460px;
  background-color: $lightgrey-07;
  display: none;
  @media only screen and (max-width: 992px) {
    background-color: $lightgrey;
    position: static;
    margin: 0 auto;
    max-width: 100%;
  }

  .info-holder {
    padding: 27px 33px 33px 32px;
    position: relative;

    h2 {
      font-weight: 400;
      font-size: 1.35em;
      letter-spacing: .2px;
      margin: 0 0 31px 0;
      color: $black;
    }

    p {
      margin: 38px 0 0;
      font-size: .78em;
      letter-spacing: -.2px;
      line-height: 1.6em;
      color: $black;
    }

    .fa {
      position: absolute;
      color: $black;
      top: 0;
      right: 0;
      padding: 5px 8px 18px 18px;
      cursor: pointer;
      font-size: 1.4em;
      z-index: 2;
    }
  }
}

.footer {
  padding: 12px;

  p {
    color: $footer-color;
    margin: 0;
    font-size: .86em;
    letter-spacing: .3px;
  }
}