$black: #30353b;
$grey: #e4e4e5;
$white: #fff;
$lightgrey: #f2f2f2;
$lightgrey-07: rgba(242, 242, 242, 0.7);
$orange: #ff7607;
$footer-color: #ccc;
$hr-light: #dbdbdb;
$hr-dark: #30353b;

$container-width: 1104px;
$gutter: 30px;